{% extends 'base.html' %}
{% block center %}
<body>
<div style="text-align: center;">
  {% if error %}
  <h3>{{ error }}</h3>
  {% endif %}
<form method="POST">
  {{ form.csrf_token }}
  <div>{{ form.name.label }}</div>
  <div>{{ form.name }}</div>
  <div>{{ form.email.label }}</div>
  <div>{{ form.email }}</div>
  <div>{{ form.password.label }}</div>
  <div>{{ form.password }}</div>
  <div>{{ form.confirm.label }}</div>
  <div>{{ form.confirm }}</div>
  <div><button type="submit">Регистрация</button></div>
  <div>{{ form.password.message }}</div>
</form>
  <div>
  {% for error in errors.values() %}
    {% for text in error %}
    <h4>{{ text }}</h4>
    {% endfor %}
  {% endfor %}
  </div>
</div>
</body>
{% endblock %}