{% extends 'base.html' %}
{% block center %}
<main>
  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for value in data %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ url_for('static', filename=value.photo_name) }}">
            <div class="card-body">
              <a href="/card/{{ value.uuid }}">
              <h4>{{ value.name }}</h4></a><h4>  {{ value.price }}$</h4>
              <p class="card-text"> {{ value.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">♡</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">🛒</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">✎</button>
                </div>
              </div>
              <small class="text-body-secondary">Комментарии</small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}